<launch>
  <arg name="move_group" default="arm" />
  <arg name="config_file" default="path_follow_override.yaml" />
  <arg name="concat_noisy_images" default="false" />

  <!-- Load parameters -->
  <include file="$(find scrap_burning)/launch/load_params.launch">
    <arg name="config_file" value="$(arg config_file)" />
  </include>

  <!-- Launch moveit -->
  <include file="$(find moveit_planner)/launch/main.launch">
    <arg name="group_name" value="$(arg move_group)" />
  </include>
  
  <node name="path_seg_node" pkg="scrap_burning" type="path_seg_node" output="screen" />
  <node name="curve_fit_node" pkg="scrap_burning" type="curve_fitting" output="screen" />
  <node name="skeletonize_node" pkg="scrap_burning" type="skeletonize.py" output="screen" />
  <node name="concat_node" pkg="scrap_burning" type="concat_node" output="screen" />
  <!-- <node name="add_noise" pkg="scrap_burning" type="add_noise_node" /> -->
  <node name="traverse" pkg="scrap_burning" type="traverse_node" />
  <node name="active_vision_node" pkg="scrap_burning" type="active_vision_node" output="screen" />

  <!-- <node name="nodelet_manager" pkg="nodelet" type="nodelet" args="manager" />
  <node name="noisy_camera_converter" pkg="nodelet" type="nodelet" args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager" output="screen">
    <remap from="rgb/camera_info" to="/panda_camera/depth/camera_info" />
    <remap from="depth_registered/image_rect" to="/noisy/depth" />
    <remap from="rgb/image_rect_color" to="/noisy/color" />
    <remap from="depth_registered/points" to="/noisy/points" />
  </node> -->

  <node name="traj_recorder_node" pkg="scrap_burning" type="traj_recorder_node" />
</launch>
