<launch>
      
    <!-- Launch camera -->
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>

    <!-- setting auto exposure parameter to False -->
   <node name="set_auto_exposure_rgb" pkg="dynamic_reconfigure" type="dynparam" args="set /camera/rgb_camera enable_auto_exposure False"/>

    <!-- Launch skeleton node detection -->
    <node name="image_capture" pkg="encoderless_vision_dl" type="image_capture.py" respawn="false" output="screen" />
    

</launch>
