<launch>
    <!-- Load configuration parameters -->
    <rosparam file="$(find vs_control)/config/config.yaml" command="load"/>

    <!-- Initialization node -->
    <node name="init_node" pkg="vs_control" type="origami_vs_init_node" output="screen" />

    <!-- Rosserial -->
    <!-- <node name="rosserial_node" pkg="rosserial_arduino" type="serial_node.py" args="/dev/ttyACM0" /> -->

    <!-- Launch Realsense Camera & marker detection -->
    <!-- <include file="$(find vs_control)/launch/marker_detector.launch" /> -->

    <!-- Jacobian service node -->

    <!-- Hardware API node -->


    <!-- <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    	<remap from="image" to="/vsbot/spline_img" />
    </node> -->

</launch>

