<launch>
    <!-- Load YAML -->
    <rosparam file="$(find encoderless_vs)/config/config.yaml" command="load"/>

    <!-- Launch Realsense Camera & marker detection -->
    <include file="$(find encoderless_vs)/launch/marker_detector.launch" />
    
    <!-- Visual Servoing Node -->
    <node name="franka_vs_node" pkg="encoderless_vs" type="franka_visual_servoing.py" output="screen" />

    <!-- Visualization node -->
    <node name="franka_vs_vis" pkg="encoderless_vs" type="franka_vs_vis_node.py" output="screen" respawn="false" />

    <node name="franka_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <param name="autosize" value="true" />
    	<remap from="image" to="/franka/vs/vis" />
    </node>
    
   
</launch>

