<launch>     
    
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> -->
    <include file="$(find encoderless_vs)/launch/rs_encoderless.launch" />
    <!-- <include file="$(find aruco_ros)/launch/double.launch" /> -->
    <!-- <rosparam file="$(find encoderless_vs)/config/config_depth.yaml" command="load"/> -->

    <!-- <node name="joint_group_publisher_node" pkg="encoderless_vs" type="vsdepth_real_joint_publisher.py" output="screen" />  -->
    <!-- <node name="binary_image_service_server_node" pkg="encoderless_vs" type="vsdepth_bin_svc_server.py" output="screen" />
    
    <node name="control_pts_service_server_node" pkg="encoderless_vs" type="vsdepth_cp_svc_server.py" output="screen" />
    <node name="control_pts_service_client_node" pkg="encoderless_vs" type="vsdepth_cp_svc_client.py" output="screen" />
 -->

    <!-- <node name="binary_image_service_server_node" pkg="encoderless_vs" type="vsdepth_sub_real_process.py" output="screen" /> -->

    <node name="depth_rgb_alignment_node" pkg="encoderless_vs" type="vsdepth_aruco_test.py" output="screen" />

    
    <!-- <node name="image_publisher_node" pkg="encoderless_vs" type="vsbot_image_sub.py" output="screen" /> -->
       
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    	<remap from="image" to="current_ros_image" />
    </node>
    

</launch>

