<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="true"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/> 		<!-- Inert - see gazebo_ros_pkgs issue #491 -->
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>
    </include>

    <!-- Spawn a robot into Gazebo -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find encoderless_vs)/urdf/vsbot_depth.xacro"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model vsbot_depth -param robot_description
      -J joint1 -2.09
      -J joint2 1.04
      -unpause" />
      
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    <rosparam file="$(find encoderless_vs)/config/config_depth.yaml" command="load"/>
    <!-- Launch controller for robot joints -->
    

    <!-- load the controllers -->
    <node name="controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/vsbot_depth" args=
      "--stopped joint1_position_controller
      joint2_position_controller"/>

    <!-- load & start the position controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/vsbot_depth" args=
      "joint_state_controller
       joint1_velocity_controller
       joint2_velocity_controller"/>

    <!-- convert joint states to TF transforms -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" respawn="false" output="screen">
    	<remap from="/joint_states" to="/vsbot_depth/joint_states" />
    </node> 

    <!-- <node name="binary_image_service_server_node" pkg="encoderless_vs" type="vsdepth_bin_svc_server.py" output="screen" />
    
    <node name="control_pts_service_server_node" pkg="encoderless_vs" type="vsdepth_cp_svc_server.py" output="screen" />
    <node name="control_pts_service_client_node" pkg="encoderless_vs" type="vsdepth_cp_svc_client.py" output="screen" />
     -->
    <!-- <node name="image_publisher_node" pkg="encoderless_vs" type="vsbot_image_sub.py" output="screen" />  -->
    <node name="joint_publisher_node" pkg="encoderless_vs" type="vsdepth_joint_controller.py" output="screen" />  
    
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    	<remap from="image" to="/vsbot/binary_image" />
    </node>
    

</launch>

