<launch>
    <!-- Launch controller for robot joints -->
    <rosparam file="$(find soft_robot_vs)/config/config.yaml" command="load"/>
        <!-- Marker  Node -->
     <!-- <node name="ee_detection_node" pkg="planar_robot_vs" type="ee_detection.py" output = "screen"/> -->



    <!-- convert joint states to TF transforms -->
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" respawn="false" output="screen">
    	<remap from="/joint_states" to="/planarbot/joint_states" />
    </node>  -->

    <!-- VS Controller Node -->
     <node name="origami_vs_control_node" pkg="soft_robot_vs" type="origami_vs_control_node" output = "screen"/>

     
    <!-- Visualization Nodes -->
    <!-- <node name="planarbot_record_node" pkg="planar_robot_vs" type="planarbot_record_node" output="screen" /> -->
    <!-- <node name="planarbot_vis_node" pkg="planar_robot_vs" type="planarbot_trajectory_visual.py" output="screen" required = "true" /> -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find planar_robot_vs)/launch/planarbt.rviz"/> -->
    <!-- <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" output="screen" required = "true" /> -->
    <!-- <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    	<remap from="image" to="/planarbot/vis" />
    </node> -->

    <!-- </node>  -->

</launch> 

