<?xml version="1.0"?>
<robot name="cube_blue">
  <link name="world" />

  <link name="main">
    <visual>
      <geometry>
	<box size="0.07 0.07 0.07" />
      </geometry>
    </visual>
    <collision>
      <geometry>
	<box size="0.07 0.07 0.07" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>

  <joint name="fixed" type="floating">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    <parent link="world" />
    <child link="main" />
  </joint>

  <gazebo reference="main">
    <material>Gazebo/Blue</material>
    <velocity_decay>
      <linear>10000</linear>
      <angular>10000</angular>
    </velocity_decay>
    <collision name="collision">
      <surface>
	<friction>
	  <ode>
	    <mu>100</mu>
	    <mu2>100</mu2>
	  </ode>
	</friction>
	<contact>
	  <ode>
	    <kp>1e15</kp>
	    <kd>1e13</kd>
	  </ode>
	</contact>
      </surface>
    </collision>
  </gazebo>
</robot>
