#!/usr/bin/env python

PACKAGE = 'dexterous_picking'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("home_pose_x", double_t, 0, "Home Position X Coordinate", 0.400,  0.200, 0.700)
gen.add("home_pose_y", double_t, 0, "Home Position Y Coordinate", 0.000,  -0.200, 0.200)
gen.add("home_pose_z", double_t, 0, "Home Position Z Coordinate", 0.727,  0.400, 0.800)

gen.add("simple_pick_pose_x", double_t, 0, "Simple Pick Position X Coordinate", 0.452,  0.200, 0.700)
gen.add("simple_pick_pose_y", double_t, 0, "Simple Pick Position Y Coordinate", 0.000,  -0.200, 0.200)
gen.add("simple_pick_pose_z", double_t, 0, "Simple Pick Position Z Coordinate", 0.373,  0.050, 0.400)
gen.add("simple_pick_close_amount", double_t, 0, "Simple Pick Gripper Close Amount", 0.25,  0.00, 1.00)

gen.add("slide_to_edge_p1_x", double_t, 0, "Slide To Edge Position1 X Coordinate", 0.301,  0.200, 0.700)
gen.add("slide_to_edge_p1_y", double_t, 0, "Slide To Edge Position1 Y Coordinate", -0.181,  -0.500, 0.200)
gen.add("slide_to_edge_p1_z", double_t, 0, "Slide To Edge Position1 Z Coordinate", 0.302,  0.050, 0.400)
gen.add("slide_to_edge_p2_x", double_t, 0, "Slide To Edge Position2 X Coordinate", 0.301,  0.200, 0.900)
gen.add("slide_to_edge_p2_y", double_t, 0, "Slide To Edge Position2 Y Coordinate", -0.424,  -0.700, 0.200)
gen.add("slide_to_edge_p2_z", double_t, 0, "Slide To Edge Position2 Z Coordinate", 0.282,  0.050, 0.400)
gen.add("slide_to_edge_p3_x", double_t, 0, "Slide To Edge Position3 X Coordinate", 0.301,  0.200, 0.900)
gen.add("slide_to_edge_p3_y", double_t, 0, "Slide To Edge Position3 Y Coordinate", -0.541,  -0.700, 0.200)
gen.add("slide_to_edge_p3_z", double_t, 0, "Slide To Edge Position3 Z Coordinate", 0.214,  0.050, 0.400)
gen.add("slide_to_edge_initialize_amount", double_t, 0, "Slide To Edge Gripper Initialize Amount", 0.00,  0.00, 1.00)
gen.add("slide_to_edge_close_amount", double_t, 0, "Slide To Edge Gripper Close Amount", 0.45,  0.00, 1.00)

gen.add("push_to_horizontal_p1_x", double_t, 0, "Push To Horizontal Position1 X Coordinate", 0.452,  0.200, 0.700)
gen.add("push_to_horizontal_p1_y", double_t, 0, "Push To Horizontal Position1 Y Coordinate", 0.000,  -0.200, 0.200)
gen.add("push_to_horizontal_p1_z", double_t, 0, "Push To Horizontal Position1 Z Coordinate", 0.328,  0.050, 0.400)
gen.add("push_to_horizontal_p2_x", double_t, 0, "Push To Horizontal Position2 X Coordinate", 0.452,  0.200, 0.700)
gen.add("push_to_horizontal_p2_y", double_t, 0, "Push To Horizontal Position2 Y Coordinate", 0.000,  -0.200, 0.200)
gen.add("push_to_horizontal_p2_z", double_t, 0, "Push To Horizontal Position2 Z Coordinate", 0.298,  0.050, 0.400)
gen.add("push_to_horizontal_initialize_amount", double_t, 0, "Push To Horizontal Gripper Initialize Amount", 0.13,  0.00, 1.00)
gen.add("push_to_horizontal_close_amount", double_t, 0, "Push To Horizontal Gripper Close Amount", 0.35,  0.00, 1.00)

gen.add("push_to_vertical_p1_x", double_t, 0, "Push To Vertical Position1 X Coordinate", 0.291,  0.200, 0.700)
gen.add("push_to_vertical_p1_y", double_t, 0, "Push To Vertical Position1 Y Coordinate", 0.020,  -0.200, 0.200)
gen.add("push_to_vertical_p1_z", double_t, 0, "Push To Vertical Position1 Z Coordinate", 0.253,  0.050, 0.400)
gen.add("push_to_vertical_p2_x", double_t, 0, "Push To Vertical Position2 X Coordinate", 0.291,  0.200, 0.700)
gen.add("push_to_vertical_p2_y", double_t, 0, "Push To Vertical Position2 Y Coordinate", 0.067,  -0.200, 0.200)
gen.add("push_to_vertical_p2_z", double_t, 0, "Push To Vertical Position2 Z Coordinate", 0.226,  0.050, 0.400)
gen.add("push_to_vertical_initialize_amount", double_t, 0, "Push To Vertical Gripper Initialize Amount", 0.2,  0.00, 1.00)
gen.add("push_to_vertical_close_amount", double_t, 0, "Push To Vertical Gripper Close Amount", 0.25,  0.00, 1.00)

gen.add("flip_pose_x", double_t, 0, "Flip Position X Coordinate", 0.452,  0.200, 0.700)
gen.add("flip_pose_y", double_t, 0, "Flip Position Y Coordinate", 0.000,  -0.200, 0.200)
gen.add("flip_pose_z", double_t, 0, "Flip Position Z Coordinate", 0.328,  0.050, 0.400)
gen.add("flip_grasp_amount", double_t, 0, "Flip Grasp Amount", 0.25,  0.00, 1.00)
gen.add("flip_flip_amount", double_t, 0, "Flip Grasp Amount", 0.4,  0.00, 1.00)

exit(gen.generate(PACKAGE, "dexterous_picking", "MotionPrimitive"))
