<launch>
    <!-- Load configuration parameters -->
    <rosparam file="$(find origami_control)/config/config.yaml" command="load"/>

    <!-- marker & camera -->
    <include file ="$(find origami_vision)/launch/marker_detector.launch"/>

    <!-- Clothoid fit Service -->
    <node name ="clothoid_fit_node" pkg="origami_vision" type="clothoid_fit_server.py" output="screen" respawn="False" />

    <!-- Curve visualization -->
    <!-- <node name="curve_vis_node" pkg="origami_vis" type="curve_vis.py" output="screen" respawn="false" /> -->

    <!-- ref gen node -->
    <node name="ref_gen_node" pkg="origami_control" type="curve_ref_gen.py" output="screen" required="True"/>

</launch>