<launch>
    <!-- Load configuration parameters -->
    <rosparam file="$(find origami_control)/config/config.yaml" command="load"/>
    
    <!-- Launch Single module Jacobian server -->
    <node name="single_module_Jacobian_server" pkg="vs_control" type="single_module_jacobian_server.py" respawn="false" output="screen"/>

    <!-- Launch Two module Jacobian server -->
    <!-- <node name="two_module_Jacobian_server" pkg="vs_control" type="two_module_jacobian_server.py" respawn="false" output="screen"/> -->

    <!-- Launch reference publisher -->
    <node name="origami_sim_ref_pub_node" pkg="origami_control" type="origami_sim_ref_pub_node" respawn="false" output="screen" />

    <!-- Launch IBVS -->
    <node name="origami_visual_servo_node" pkg="origami_control" type="origami_sim_ibvs_node" respawn="false" output="screen" />

    <!-- Launch srl sim -->
    <include file="$(find srl_sim)/launch/sim.launch"/>
</launch>