<launch>
    <!-- Load YAML -->
    <rosparam file="$(find controllers)/config/config.yaml" command="load"/>
    
    <!-- Launch simulation -->
    <include file="$(find two_link_gazebo)/launch/two_link.launch" />
    
    <!-- Launch marker detect -->
    <node name="marker_detect_node" pkg="image_processing" type="marker_track.py" output="screen" required="true" />

    <!-- Launch vis -->
    <include file="$(find visualization_tools)/launch/two_link_vis.launch" />
</launch>
